---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: false
---

{% include base_path %}

<section class="page__content" itemprop="text">
    See <a href="{{site.author.googlescholar}}">Google Scholar</a> for a full list of publications.

<h2><i class="fas fa-wrench" aria-hidden="true"></i>&nbsp; &nbsp;Preprints and working papers</h2>
{% for post in site.publications reversed %}
  {% if post.type == 'preprint' %}
<div class="page__col-wrap">
    <div class="page__lcol"><img src={{post.thumbnail}}></div>
<div class="page__rcol">
    <h2>
        <a href="{{ post.permalink }}">{{ post.title }}</a>
    </h2>
    {% if post.authors and post.journal_info %}
    <div class="author__box">{{ post.authors}}</div>
    <div class="journal__box">{{ post.journal_info}}</div>
    {% endif %}
</div>
</div>
{% endif %}
{% endfor %}
<div class="page__col-wrap">
</div>


<h2><i class="fas fa-file-alt" aria-hidden="true"></i>&nbsp; &nbsp; Journal articles</h2>
{% for post in site.publications reversed %}
  {% if post.type == 'article' %}
<div class="page__col-wrap">
    <div class="page__lcol"><img src={{post.thumbnail}}></div>
<div class="page__rcol">
    <h2>
        <a href="{{ post.permalink }}">{{ post.title }}</a>
    </h2>
    {% if post.authors and post.journal_info %}
    <div class="author__box">{{ post.authors}}</div>
    <div class="journal__box">{{ post.journal_info}}</div>
    {% endif %}
</div>
</div>
{% endif %}
{% endfor %}
<div class="page__col-wrap">
</div>


<h2><i class="fas fa-users" aria-hidden="true"></i>&nbsp; &nbsp;Conference proceedings</h2>
<ol>
{% for post in site.publications reversed %}
  {% if post.type == 'refereed-conference-proceeding' %}
  <li class="publication__li"><a href="{{post.permalink}}">{{post.citation}}</a></li>
  {% endif %}
{% endfor %}
</ol>

<h2><i class="fas fa-microphone" aria-hidden="true"></i>&nbsp; &nbsp;Invited talks</h2>
<ol>
{% for post in site.publications reversed %}
  {% if post.type == 'invited-talk' %}
  <li class="publication__li"><a href="{{post.permalink}}">{{post.citation}}</a></li>
  {% endif %}
{% endfor %}
</ol>

<h2><i class="fas fa-flask" aria-hidden="true"></i>&nbsp; &nbsp;Technical reports</h2>
<ol>
{% for post in site.publications reversed %}
  {% if post.type == 'tech_report' %}
  <li class="publication__li"><a href="{{post.permalink}}">{{post.citation}}</a></li>
  {% endif %}
{% endfor %}
</ol>

<h2><i class="fas fa-graduation-cap" aria-hidden="true"></i>&nbsp; &nbsp;Theses</h2>
<ol>
{% for post in site.publications reversed %}
  {% if post.type == 'thesis' %}
  <li class="publication__li"><a href="{{post.permalink}}">{{post.citation}}</a></li>
  {% endif %}
{% endfor %}
</ol>

<h2><i class="fas fa-newspaper" aria-hidden="true"></i>&nbsp; &nbsp;Media</h2>
<ol>
{% for post in site.publications reversed %}
  {% if post.type == 'media' %}
  <li class="publication__li"><a href="{{post.permalink}}">{{post.citation}}</a></li>
  {% endif %}
{% endfor %}
</ol>

</section>
