/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $global-font-family;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  @include breakpoint($large) {
    @include span(12 of 12);
    @include prefix(1 of 12);
    @include suffix(1 of 12);
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 0em;
    font-weight: 700;
  }
}

.masthead__left {

    @include breakpoint($small-only) {
        @include span(9 of 12);
    }

    @include breakpoint($medium) {
        @include span(5 of 12);
    }

    @include breakpoint($large) {
        @include span(4.75 of 12);
    }

    @include breakpoint($x-large) {
        @include span(4 of 12);
    }
}

.masthead__right {

    @include breakpoint($small-only) {
        @include span(2 of 12 last);
    }

    @include breakpoint($medium) {
        @include span(7 of 12 last);
    }

    @include breakpoint($large) {
        @include span(7.25 of 12 last);
    }

    @include breakpoint($x-large) {
        @include span(8 of 12 last);
    }

    // min-width: 52px;
    // min-height: 52px;
}

.masthead__lgroup {
    @include span(2 of 12);
    min-width: 52px;
    max-width: 52px;
}

.masthead__rgroup {
    @include span(9.6 of 12 last);
    padding-top: 0.6em;

    a {
        text-decoration: none;
        color: $text-color;
        font-weight: 700;

        position: relative;

        &:hover {
            color: $link-color-hover;
        }

        // &:before {
        //     content: "";
        //     position: absolute;
        //     left: 0;
        //     bottom: -10px;
        //     height: 4px;
        //     background: mix(#fff, $primary-color, 50%);
        //     width: 100%;
        //     -webkit-transition: $global-transition;
        //     transition: $global-transition;
        //     -webkit-transform: scaleX(0);
        //     -ms-transform: scaleX(0);
        //     transform: scaleX(0); /* hide*/
        // }

        // &:hover:before {
        //     -webkit-transform: scaleX(1);
        //     -ms-transform: scaleX(1);
        //     transform: scaleX(1); /* reveal*/
        // }
    }
}

