{% include base_path %}

<div class="masthead">
    <div class="masthead__inner-wrap">
        <div class="masthead__menu">
            <div class="masthead__left">
                <div class="masthead__lgroup"><img src="{{ base_path }}/images/logo-simple.png"></div>
                <div class="masthead__rgroup"><a href="{{ base_path }}/">{{ site.title }}</a></div></div>
            <div class="masthead__right">
            <nav id="site-nav" class="greedy">
                <ul class="links">
                    {% for link in site.data.navigation.main %}
                    {% if link.url contains 'http' %}
                    {% assign domain = '' %}
                    {% else %}
                    {% assign domain = base_path %}
                    {% endif %}
                    <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="hidden-links hidden"></ul>
                <button><div class="navicon"></div></button>
            </nav>
            </div>
    </div>
  </div>
</div>
